{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="form-card1">
        <div class="form-card2">
            <div class="card">
                <div class="card-header">
                    <h1 class="welcome-line-1">Utilisateur</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    
                        {{ form_row(form.nom, {
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}
                 
                        {{ form_row(form.prenom, {
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}
                    
                        {{ form_row(form.numerodetelephone, {
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}
                    
                        {{ form_row(form.email, {
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}
                    
                        {{ form_row(form.plainPassword, {
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}
                    
                        {{ form_row(form.photoD, {
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}

                        {{ form_row(form.agreeTerms, {
                            'label': 'Agree to terms',
                            'label_attr': {
                                'class': 'form-check-label'
                            },
                            'attr': {
                                'class': 'form-check-input'
                            }
                        }) }}
                    
                    <button type="submit" class="submit-button">Create</button>
                    <a class="submit-button">Annuler</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
